@if (isAddingTask) {
    <app-new-task (closeAddTask)="onCloseAddTask()" (addTask)="onAddTask($event)" />
}
<section id="tasks">
    <header>
        <h1>{{ name }}' tasks</h1>
        <menu>
            <button (click)="onStartAddTask()">Add Task</button>
        </menu>
    </header>

    <ul>
        @for (task of selectedUserTask; track task.id) {
            <li>
                <app-task [task]="task" (completed)="onCompletedTask($event)" />
            </li>
        }
    </ul>
</section>

